.moviesCardList {
  width: 100%;
  padding: 70px 0 107px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, 364px);
  column-gap: 24px;
  row-gap: 37px;
  justify-content: center;
}
.moviesCardList__message {
  font-size: 36px;
  color: #FF6838;
  text-align: center;
  font-weight: bold;
  width: 100%;
}
@media screen and (max-width:768px) {
  .moviesCardList {
    width: 100%;
    gap: 30px;
    grid-template-columns: repeat(auto-fit, 339px);
    padding-bottom: 26px;
  }
}

@media screen and (max-width:580px) {
  .moviesCardList {
    width: calc(100% - 20px);
    gap: 14px;
    grid-template-columns: repeat(1, 300px);
    padding-top: 40px;
    padding-left: 10px;
    padding-right: 10px;
  }
}
