.navMenu {
  height: 100%;
  width: 520px;
  position: fixed;
  top: 0;
  right: 0;
  background-color: #FFFFFF;
  opacity: 0;
  visibility: hidden;
  transition: visibility 1s, opacity 1s ease-in-out;
  margin: 0 auto;

}

.navMenu_open {
  opacity: 1;
  visibility: visible;
  z-index: 1;
}

.navMenu__container {
  display: flex;
  flex-direction: column;
  gap: 28px;
  margin: 0 auto;
  padding: 159px 0 90px 0;
  position: relative;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.navMenu__container__close-button {
  position: absolute;
  top: 22.44px;
  right: 22.44px;
  background-image: url(../../images/close.svg);
  width: 22px;
  height: 22px;
  background-repeat: no-repeat;
  background-position: center;
  border: none;
  background-color: transparent;
}

.navMenu__container__link {
  font-size: 18px;
  font-weight: 500;
  line-height: 22px;
  letter-spacing: 0px;
  text-align: center;
  text-decoration: none;
  color: black;
  margin: 0 auto;
}

.navMenu__container__link:nth-of-type(3) {
  margin-bottom: 621px;
}

.link_state_active {
  padding-bottom: 4px;
  border-bottom: 2px solid black;
}

@media screen and (max-width: 580px) {
  .navMenu {
    width: 100%;
  }
  .navMenu__container__link:nth-of-type(3) {
    margin-bottom: 444px;
  }

}
